h1 {font-size: xx-large; color: red; text-align: center;}
#p1 {text-align: center;}

h3{font-size: medium; color: red;}

#p2 {font-weight: 1000;}

.right {float: right;}

#hr1 {border: 1px dotted #000;}

#span1 {font-weight: 100;}

